html{height: 100%;}
body{ 
	overflow-x:hidden;
	height: 100%;
	margin-top: -65px;
	background: #e5ecfa;
}
.navbar{
	background-color: #082867;
	padding:7px;
	border:0;
	margin:0;
}
.logo{
	max-width: 250px;
	margin-top: -15px;
	max-height: 65px;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
	color:#fff;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FDCF00;
    text-align: center;
    z-index: 1;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.navbar-default .navbar-nav>li.active>a,.navbar-default .navbar-nav>li>a:hover
,.navbar-default .navbar-nav>li>a:focus{
	color:#fff !important;
	background-color: transparent !important;
}
.navbar-default .navbar-nav>li>button{
	font-size: 15px;
	font-weight: 400;
	background-color: transparent;
	color:#FDCF00;
	border: 1.2px solid;
	border-radius: 0;
	border-color: #ffffff;
	font-family:'Montserrat', sans-serif;
	margin-top: 11px;
	outline:none;
	letter-spacing: 0.5px;
	transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;  
}

.navbar-default .navbar-nav>li>button:hover{
	background-color: #fff;
	color:#082867;
	font-weight: 700;
}

footer{
	color: #fff;
	padding: 10px;
	font-size: 15px;
	background-color: #082867;
	height: 65px;
}
footer>p{
	margin: 0px;
}

span.glyphicon {
	font-size: 17px;
	color:#FDCF00;

}

.wrapper {
	min-height: 100%;
}




/*profile page*/


h1{
	margin-left:25%;
	margin-bottom: 3%;
	font-weight: 900;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #082867;
    font-size: 50px;
    letter-spacing: 4px;
}

.cards{
	margin-top:150px;
}
.card{
	margin: auto;
	margin-bottom: 50px;
	background-color:#fff;
	width:50%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card>img{
	display: inline-block;
	width:70px; height:70px; border-radius:50%;
	
}

#noreviews{	
		padding-top:-15px;
		margin-left:-10px;
	}

#name{
	display:inline-block;
	font-size: 26px;
	font-style:italic;
	font-family: Arial;
	color: rgb( 44, 90, 174 ); 
	margin-left: 2%;
}


#job{
	margin-left: 11.5%;
	margin-top: -1%;
	clear:left;
	display: :inline-block;
}

#profilebutton{
	margin-left: 11.5%;
	margin-top: 4%;
	border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #42455d;
	outline:0;
	font-family: Arial;
}

#wage{
	display: inline-block;
	font-size: 28px;
	font-weight: 600;
	font-family: monospace , sans-serif; 
	color: #082867;
	float: right;
	margin-top: 30px;
}

.stars{
	width: 110px;
	display:inline-block;
	
}
.revstr{
	display: inline-block;
	float:right;
	margin-top: 20px;
}


.stars>span{
	color: rgb( 44, 90, 174 ); 
	margin-left: 1%;
	font-size: 20px;
	color:#ecd132;
}

.pages{
	margin:auto;
	margin-bottom: 15px;
}



/* Modal */
.panel-login {
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
/* End of Modal */



.slideanim {visibility:hidden;}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media only screen and (max-width: 768px){

.navbar-default .navbar-nav>li>button{
	position: relative;
    display: block;
    margin:auto auto;
    margin-top: 10px;
}

}


@media only screen and (max-width: 470px){
	
.logo{
	max-width: 220px;
    max-height: 45px;
    margin-top: -11px;
}

h1{
	margin-left: 10%;
    margin-bottom: 6%;
    font-weight: 900;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #082867;
    font-size: 17px;
    letter-spacing: 1px;
}
.card{
	margin: auto;
    margin-bottom: 30px;
    background-color: #fff;
    width: 90%;
    padding: 10px 7px;
    border-radius: 5px;
    height: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

.card>img {
    max-width: 40px;
    max-height:40px;
    display: inline-block;
    float: left;
}
#job {
    margin-left: 2%;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
    float:left;
    clear:left;
}

.stars {
	display:inline-block;
    width: 80px;
    margin-right: -10px;
    margin-left: 1px;

}

.glyphicon-star,.glyphicon-star-empty {
	font-size: 14px;
}

.revstr{
	display: inline-block;
	float: right;
	margin-top: 5px;
	clear: right;
}

#wage{
	font-size: 16px;
	margin-left: 2px;
	display: inline-block;
	float:right;
	margin-top: 10px;
}

#profilebutton{
	margin-left: 2px;
    margin-top: 5px;
    padding: 6px 6px;
    display: inline-block;
    font-size: 12px;
    float:left;
    clear:left;

}

footer>p{
	font-size: 10px;
}
footer{
	height: 56px;
}
}

@media only screen and (max-width: 1120px) and (min-width: 768px){
	h1{
		margin-left: 15%;
	}
	.card{
		width: 70%;

	}
	.logo{
		max-height: 50px;
		margin-top: -7%;
	}
	#name{
		font-size: 24px
	}
	#job{
		margin-left: 15%;
	}
}

@media only screen and (max-width: 768px) and (min-width: 470px){
	#name{
		font-size: 18px;
	}
	.card{
		width: 90%;
	}
	.card>img{
		max-width: 60px;
	}
	.glyphicon-star,.glyphicon-star-empty{
		font-size: 16px;
	}
	.stars{
		width: 100px;
    	margin-right: -20px;
	}
	#noreviews{
		font-size: 12px;
	}
	.logo{
		max-height: 50px;
	}
	h1{
		margin-left: 10%;
		font-size: 30px;
		margin-bottom: 30px;
	}
	#job{
		font-size: 16px;
		margin-left: 16%;
	}
	.card{
		padding: 15px;
	}
}
